* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header h1 {
  text-align: center;
  color: #14532d;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 4rem;
}

/* 改成绝对定位，使图标随着页面内容滚动 */
.social-icons {
  position: absolute;  /* 使图标跟随页面内容滚动 */
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
}

/* 控制图标样式 */
.social-icon {
  width: 40px;  /* 设置图标的大小 */
  height: 40px;
  border-radius: 50%;  /* 使图标变成圆形 */
  object-fit: cover;  /* 保持图标的原始比例并裁剪 */
  transition: transform 0.3s ease; /* 增加过渡效果 */
}

.social-icon:hover {
  transform: scale(1.1); /* 鼠标悬停时放大图标 */
}

@media (max-width: 768px) {
  canvas {
    width: 100%;  /* 让 canvas 宽度占满100%屏幕宽度 */
    height: auto; /* 高度自动调整，保持比例 */
    touch-action: none;  /* 禁止默认的触摸滚动行为 */
  }
}
