/* 使用 CSS 变量来控制间距 */
:root {
  --title-margin-bottom: 200px;  /* 设置标题底部间距 */
  --subtitle-margin-bottom: 100px; /* 设置副标题底部间距 */
  --canvas-margin-top: 30px;      /* 设置 canvas 上方间距 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;  /* 防止页面滚动 */
}

header h1 {
  text-align: center;
  color: black;
  margin-bottom: var(--title-margin-bottom);  /* 使用 CSS 变量控制间距 */
  text-transform: uppercase;
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 3rem;
  z-index: 1;  /* 保证标题在 canvas 上方 */
}

/* 设置副标题样式 */
header .subtitle {
  text-align: center;
  font-size: 1.5rem;  /* 设置副标题的字体大小 */
  color: black;  /* 设置副标题的颜色 */
  margin-top: 0;  /* 去掉默认的顶部间距 */
  margin-bottom: var(--subtitle-margin-bottom); /* 使用 CSS 变量控制间距 */
}

/* 调整 canvas 元素的位置和大小 */
canvas {
  border: 2px solid #fff;  /* 为画布添加边框 */
  position: relative;
  z-index: 0;  /* 保证 canvas 位于标题下方 */
  margin-top: var(--canvas-margin-top);  /* 使用 CSS 变量控制间距 */
}

#restartButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: none;  /* 初始隐藏 */
  z-index: 2;  /* 保证按钮位于画布之上 */
}

#restartButton:hover {
  background-color: #45a049;
}

/* 社交媒体图标样式 */
.social-icons {
  position: absolute;  /* 使图标跟随页面内容滚动 */
  bottom: 20px;     /* 距离页面底部 20px */
  right: 20px;      /* 距离页面右边 20px */
  display: flex;
  gap: 15px;
  z-index: 2;  /* 确保图标在 canvas 上方 */
}

/* 控制图标样式 */
.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

/* 使游戏适配小屏幕 */
@media (max-width: 768px) {
  canvas {
    width: 100%;  /* 让 canvas 宽度占满100%屏幕宽度 */
    height: auto; /* 高度自动调整，保持比例 */
    touch-action: none;  /* 禁止默认的触摸滚动行为 */
  }
}
